/* content style */
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    gap: 10px;
}
#submit-book-info {
    margin-top: 10px;
}

/* Bulma Post-CSS */
.container {
    text-align: center;
}
#books-section {
    padding-left: 6rem;
    padding-right: 8rem;
}
.card {
    border-radius: 10px;
}
.card .card-footer {
    background-color: transparent;
}
.card-footer-item {
    border: none;
}
.card-footer button:nth-child(1) {
    border-bottom-left-radius: 10px;
}
.card-footer button:nth-child(2) {
    border-bottom-right-radius: 10px;
}