/* content style */
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 10px;
}

/* Bulma Post-CSS */
.container {
    text-align: center;
}
#books-section {
    padding-left: 6rem;
    padding-right: 8rem;
}